html {
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #e8eae9;
}

main {
    background-color: rgb(255, 255, 255);
    padding: 2%;
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 0;
    border-radius: 20px;
}

nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 10px;
    width: auto;
    text-decoration: none;
    top: 0;
    left: 0;
    right: 0;
}

img, iframe, video {
    border-radius: 30px;
}

p {
    text-align: justify;
}

#logo {
    height: 10%;
    width: 10%;
    border-radius: 0;
}

#title {
    font-size: 190%;
    margin-top: 0;
    margin-bottom: 4%;
}

.letra,
.social {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    height: auto;
    margin-left: 2%;
}

footer {
    background-color: #88bc24;
    margin-top: 3%;
    padding: 1%;
    font-weight: bold;
}

article {
    margin-bottom: 40px;
    clear: both;
}

.izquierda,
.derecha {
    display: flex;
    flex-direction: row;
}

.fotosActividades {
    width: 45%;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
}

.textoActividades {
    width: 99%;
    padding: 10px;
    flex-direction: column;
}

.articuloOpi{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
}

.imagenOpi{
    width: 200px;
    margin: 50px;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px rgba(65, 194, 74, 0.566);
}

.textoUsuario{
    font-size: 30px;
    font-style: oblique;
}
.textoOpi{
    font-size: 18px;
    color: rgba(47, 47, 47, 0.8);
    margin-right: 100px;
}
.contenedor-texto-opi{
    background-color: #cccccc;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
#tituloOpi{
    font-size: 45px;
    font-weight: bold;
    color: rgba(0, 0, 0);
    margin-left: 20px;
    font-style: oblique;
}
#subtituloOpi{
    font-size: 22px;
    font-weight: bold;
    font-family:sans-serif;
    color: rgba(85, 85, 85, 0.800);
    margin-left: 20px;
}



.mediaEvento {
    width: 300px;
    height: 300px;
    display: flex;
    padding: 20px;
}

.fotoEvento {
    width: 300px;
    height: 200px;
    display: flex;
    padding: 20px;
}

.fotoContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(199, 219, 162);
    border-radius: 20px;
}

#contenedorActividades {
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner {
    width: 475px;
    height: 110px;
    border-radius: 20px;
}